<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <h2 class="prototype__title">プロトタイプ編集</h2>

      <%= render 'form', prototype: @prototype %>

    </div>
  </div>
</main>

